/* 
    Document   : estilo
    Created on : 07/11/2011, 23:53:24
    Author     : FernandoProgrammer
    Author URI : http://fernandodesigner.net.br/
*/
@import url("reset.css");

* { color: #333; }

body { background: #EEE url(../images/background.png) repeat-x top center; font-family: "Istok Web", Arial, Helvetica, sans-serif; }

a { color: #F03; text-decoration: none; }
a:hover { color: #333; text-decoration: none; }

.clear { clear: both; }
.alignleft { float: left; }
.alignright { float: right; }

/* Main Styles */
#container{
    margin: 0 auto;
    width: 900px;
}

#headercont{
    width: 900px;
}

#headercont #header{
    width: 900px;
    height: 110px;
    position: relative;
}

#headercont #header #logocont{
    float: left;
    padding: 28px 0 0 0;
}

#headercont #header #logocont h1 a{
    font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
    font-size: 44px;
    text-transform: uppercase;
    font-weight: normal;
    color: #fff;
    line-height: normal;
}

#headercont #header #logocont h1 a span{
    color: #F03;
    font-size: 22px;
}


#headercont #header #logocont h1 a:hover {
    color: #F03;
}
#headercont #header #logocont h1 a:hover span { color: #fff; }
#headercont #header nav{ top: 5px; right: 0; position: absolute; }
#headercont #header nav ul{ float: right; }
#headercont #header nav ul li{ display: inline; }
#headercont #header nav ul li a{
    float: left;
    line-height: 27px;
    color: #fff;
    padding: 0 18px;
    margin: 5px 0;
    text-decoration: none;
    font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}
#headercont #header nav ul li.active a,
#headercont #header nav ul li a:hover{ color: #FFF; background: #F03; }

#categories { height: 40px; margin: 5px 0; background: #111; width: 100%; }
#categories ul { width: 100%; list-style: none; margin: 0; padding: 0; }
#categories li { display: inline; position:relative; float: left; }
#categories li a { text-transform: uppercase; float: left; font-size: 18px; font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif; margin: 7px; padding: 4px 7px; color:#fff; }
#categories li a:hover { background: #F03; }
#categories ul ul {
    width: 140px; 
    position: absolute; 
    top: 36px; 
    left: 0;
    z-index:1000;
    margin:1px 0 0 0;
    padding: 0;
    overflow: hidden;
    display: none;
    background:#111;
}
#categories ul li:hover ul { display: block; }
#categories ul li ul li{
    width:150px; 
    float:left;
    display:inline;
    padding:0;
}


.post { position: relative; border-bottom: 1px solid #d0d0d0; margin-bottom: 20px; padding-bottom: 15px; }
h2.entry-title, h2.entry-title a { width: 100%; display: block; font-size: 20px; line-height: 29px; }
h2.entry-title { margin-bottom: 15px; border-bottom: 1px solid #d0d0d0; }
.entry-content { text-align: justify; padding: 0px 4px; font-size: 12px; }
.post-thumb { float: left; width: 150px; height: 120px; overflow: hidden; text-align: center; margin: 2px 5px 0 0 }
.entry-meta { margin: 5px 0; font-size: 12px; border: 1px solid #d0d0d0; padding: 5px; }
.more { float: right; }
.entry-utility span { font-size: 12px; }

.comments-link { position: absolute; top: -7px; right: 0; }
.comments-link a { float: left; background: url(../images/comment.png) no-repeat center; width: 10px; padding: 10px 17px; height: 16px; }

#gallerycont{ width: 900px; }		

/* Start Easy Slider */
#slider { }
#slider ul{ position: relative; }
#slider ul li { 
    position: relative;
    width: 900px;
    height: 250px;
    overflow: hidden; 
}
p#controls{
    position: relative;
} 

p#controls #prevBtn, p#controls #nextBtn{
    position: absolute;
    display: block;
    left: -36px;
    top: -160px;
    width: 36px;
    height: 77px;
    margin: 0;
    overflow: hidden;
    text-indent: -8000px;
}	

p#controls #nextBtn{ 
    left: 906px;
}

p#controls #prevBtn a{  
    display: block;
    width: 36px;
    height: 77px;
    background: url("../images/prev.png") no-repeat top left;	
}

p#controls #prevBtn a:hover{
    background: url("../images/prev.png") no-repeat bottom left;
}

p#controls #nextBtn a{ 
    display: block;
    width: 36px;
    height: 77px;
    background: url("../images/next.png") no-repeat top right;	
}

p#controls #nextBtn a:hover{
    background: url("../images/next.png") no-repeat bottom right;
}

/* End Easy Slider */
#maincont{
    text-align: justify;
    width: 900px;
    padding: 0;
    background: #fff;
}

#maincont #main{
    margin: 10px auto;
    width: 900px;
    padding: 10px 0;
    line-height: 22px;;
}

#maincont #main p { margin: 0 0 20px 0; }

#maincont #main h1, #maincont #main h2, #maincont #main h3, #maincont #main h4, #maincont #main h5 { margin: 0 0 20px 0; font-weight: normal; letter-spacing: -1px; font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif; font-style: normal; }
#maincont #main h1 { font-size: 34px; }
#maincont #main h2 { font-size: 32px; }
#maincont #main h3 { font-size: 30px; }
#maincont #main h4 { font-size: 30px; }
#maincont #main h5 { font-size: 28px; }
#maincont #main h1 span, #maincont #main h2 span, #maincont #main h3 span { color: #F03; }

#maincont #main ul { margin: 0 0 20px 35px; list-style-type: square; }
#maincont #main ul li { padding: 0 0 0 2px; }

#maincont #main ol { margin: 0 0 20px 35px; list-style-type: decimal; }
#maincont #main ol li { padding: 0 0 0 2px; }

#maincont #main blockquote { background: #DDD; border-left: 3px solid #F03; padding: 15px; margin: 0 0 20px 0; font-style: italic; line-height: 18px; }

#maincont #main #mainleft{
    float: left;
    width: 620px;
    padding:20px;
}

#maincont #main #mainright{
    float: left;
    width: 220px;
    padding: 0 10px;
}

#footercont{
    margin: 5px auto;
    width: 880px;
    padding: 25px 10px;
    font-size: 11px;
    background: #111;
}
#footercont p, #footercont p a:hover { color: #767676; }


/* Sidebar */
.sidebox { padding: 5px 0; margin: 0; clear: both; }
.sidebox ul { list-style-type: none!important; padding: 10px 0!important; margin: 0!important; border-bottom: 1px solid #d0d0d0!important; }
.sidebox ul li a { padding: 3px 0; border-bottom: 1px dashed #d0d0d0; width: 100%; display: block; }
.sidebox .tagcloud { text-align: center; }
.sidebox #searchform, .sidebox #search, .sidebox #searchform input[type=text] { margin: 0; width: 100%; }
.sidebox #searchform input[type=text] { padding: 5px 5px 5px 25px; border: 1px solid #c2c2c2; color: #c2c2c2; background: #fff url(../images/icons/ico-search.png) no-repeat left center; margin: 0; width: 85%; }
